.box {
    width: 300px;
    height: 150px;
    border: 4px solid red;
    margin: 60px;
}

#visible {
    overflow: visible;
    color: green;
}

#hidden {
    overflow: hidden;
    color: blue;
}

#scroll {
    overflow: scroll;
    color: firebrick;
}

#auto {
    overflow: auto;
    color: khaki;
}