
/* 
------------------------------------
Domyślne kolory 'flex-item' - START
------------------------------------ 
*/
.flex-item {
    color: #fff;
    font-family: 'Lato', sans-serif;
    border: 1px solid blue;
    padding: 10px;
    margin: 3px;
    font-size: 12px;
    background-color: orange;
    flex-basis: 25%;
    /* max-height: 220px; */
    color: firebrick;
}

.flex-item:nth-last-of-type(odd) {
    background-color: lightgray;
    /* max-height: 150px; */
}
/* 
------------------------------------
Domyślne kolory 'flex-item' - END
------------------------------------ 
*/





.container {
    border: 1px dashed red;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: aquamarine;
    height: 700px;
    flex-basis: 15%;

    /* align-item: stretch; */
    /* align-items: center; */
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: baseline */
}

.ordered-item {
    align-self: stretch;
}



